.contactSec{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.iframeMain{
  width: 100%;
    min-width: 1000px;
    height: 700px;
}
.iframe{
    /* DARK MODE 
    filter: grayscale(100%) invert(92%) contrast(83%);*/
}
.iframeButtons{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.primaryButton{
  width: 90%;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 25px;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.primaryButton:hover{
  color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
}

@media only screen and (max-width: 1200px) {
  .contactSec{
    width: 90%;
    flex-direction: column;
  }
  .iframeButtons{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .primaryButton{
    margin: 25px 10px;
    width: 30%;
    min-height: 74px;
  }
}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (max-width: 992px) {
  .formContainer{
    flex-direction: column;
  }
}


@media only screen and (max-width: 700px) {
  .iframeButtons{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .primaryButton{
    margin: 10px 0;
    width: 90%;
  }
  .primaryButton:first-child{
    margin-top: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px) */
@media only screen and (max-width: 600px) {}


