.contactSec {
    width: 700px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
}

.contactSec h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.inputBox {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.inputBox:first-of-type {
    margin-top: 20px;
}

.inputBox.active-grey .input1 {
    border: 1px solid #dadce0;
}

.inputBox.active-grey .inputLabel {
    color: #80868b;
    top: -8px;
    background: #fff;
    font-size: 11px;
    transition: 250ms;
}

.inputBox.active-grey .inputLabel svg {
    position: relative;
    width: 11px;
    height: 11px;
    top: 2px;
    transition: 250ms;
}

.inputBox .inputLabel {
    position: absolute;
    color: #80868b;
    font-size: 16px;
    font-weight: 500;
    max-width: calc(100% - (2 * 8px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    top: 15px;
    padding: 0 8px;
    transition: 250ms;
    user-select: none;
    pointer-events: none;
}

.inputBox .inputLabel svg {
    position: relative;
    width: 15px;
    height: 15px;
    top: 2px;
    transition: 250ms;
}

.inputBox .input1 {
    box-sizing: border-box;
    min-height: 50px;
    width: 100%;
    color: #202124;
    border: 1px solid #dadce0;
    font-size: 1rem;
    font-weight: 500;
    padding: 13px 15px;
    transition: 250ms;
    resize: none;
}

.inputBox .input1:focus {
    outline: none;
    border: 2px solid #000000;
    transition: 250ms;
}

.error .inputLabel {
    color: #f44336;
    top: -8px;
    background: #fff;
    font-size: 11px;
    transition: 250ms;
}

.error .input1 {
    border: 2px solid #f44336;
}

.errorMessage {
    height: 18px;
    font-size: 0.875rem;
    color: #f44336;
}

.inputBox.focus .inputLabel,
.inputBox.active .inputLabel {
    color: #000000;
    top: -9px;
    background: #fff;
    font-size: 11px;
    transition: 250ms;
}

.inputBox.focus .inputLabel svg,
.inputBox.active .inputLabel svg {
    position: relative;
    width: 11px;
    height: 11px;
    top: 2px;
    transition: 250ms;
}

.inputBox.active .input1 {
    border: 2px solid #000000;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

.primaryButton {
    width: 160px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 500;
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.primaryButton:hover {
    color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
}

.eventTypes {
    margin: 10px 0;
}

.typeName {
    font-size: 22px;
    font-weight: 600;
}

.eventType {
    display: inline-block;
    padding: 10px;
}

.select {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.selectText {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.selectText:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.select .selectText {
    appearance: none;
    -webkit-appearance: none
}

.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}


.selectLabel {
    color: rgba(0, 0, 0, 0.26);
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
}

.selectText:focus~.selectLabel,
.selectText:valid~.selectLabel {
    color: #000000;
    top: -20px;
    transition: 0.2s ease all;
    font-size: 14px;
}

.selectBar {
    position: relative;
    display: block;
    width: 100%;
}

.selectBar:before,
.selectBar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--main-color);
    transition: 0.2s ease all;
}

.selectBar:before {
    left: 50%;
}

.selectBar:after {
    right: 50%;
}

.selectText:focus~.selectBar:before,
.selectText:focus~.selectBar:after {
    width: 50%;
}

.selectHighlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.selectDate{
    width: 100%;
    margin: 20px 0;
}

.calendar{
    position: relative;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
}

.calendarHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.monthPicker{
    padding: 0 5px;
}
.yearPicker{
    display: flex;
    align-items: center;
}
.yearChange{
    display: grid;
    padding-top: 10px;
}
.calendarBody{
    padding: 5px;
}
.calendarWeekDay{
    display: grid;
}
.calendarDays{
    display: grid;
}
.monthList{
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
/* Extra large devices (large laptops and desktops, 1200px) */
@media only screen and (max-width: 1200px) {
    .contactSec {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (max-width: 992px) {
    .formContainer {
        flex-direction: column;
    }

    .iframeCont {
        width: 100%;
    }

    .contactForm {
        width: 100%;
    }

    .primaryButton {
        margin: auto;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768pxp) */
@media only screen and (max-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px) */
@media only screen and (max-width: 600px) {}